
/*start global rules */
body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:hover, a:visited {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.container {
  padding: 0 200px;
}
.container--all {
  padding: 100px 200px;
}
@media (max-width: 676px) {
  .container--all {
    padding: 0px 50px;
  }
}
.container--py {
  padding: 200px 0px;
}
.container--px {
  padding: 0 200px;
}

/*end global rules */